.desktop-1 .finertia-transparent-1 {
  background: url('../assets/images/finertia_transparent_1.png') 50% / cover no-repeat;
  width: 435px;
  height: 279px;
}
.desktop-1 .container-11 {
  background: #000000;
  position: relative;
  margin-left: 3px;
  padding-bottom: 100px;
  width: 1440px;
  height: 379px;
  box-sizing: border-box;
}
.desktop-1 .manage {
  margin-bottom: 43.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .vector-38 {
  margin-right: 42.6px;
  width: 44px;
  height: 44px;
}
.desktop-1 .dashboard {
  margin: 12px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .container-5 {
  margin: 0 111.6px 71px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .vector-37 {
  width: 33px;
  height: 44px;
}
.desktop-1 .simple-iconsplausibleanalytics {
  background: #000000;
  display: flex;
  padding: 0px 5.5px 0 5.5px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .analytics {
  margin: 10px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .container-4 {
  margin: 0 117.4px 61px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 218.6px;
  box-sizing: border-box;
}
.desktop-1 .vector-36 {
  width: 33px;
  height: 33px;
}
.desktop-1 .mingcuteperformance-fill {
  background: #FFFFFF;
  display: flex;
  padding: 5.5px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .insights {
  margin: 7px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .container-18 {
  margin: 0 133.4px 64.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 208.6px;
  box-sizing: border-box;
}
.desktop-1 .vector-35 {
  width: 32.8px;
  height: 34.8px;
}
.desktop-1 .mingcutenotification-fill {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .notification {
  margin: 1.3px 0 4.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .container-13 {
  margin: 0 72px 63px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 256.8px;
  box-sizing: border-box;
}
.desktop-1 .vector-33 {
  width: 35.6px;
  height: 36.7px;
}
.desktop-1 .cisettings-filled {
  background: #FFFFFF;
  margin-top: 0.5px;
  display: flex;
  padding: 3.7px 4.2px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .settings {
  margin-bottom: 12.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .container-19 {
  margin: 0 115.7px 58px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220.3px;
  box-sizing: border-box;
}
.desktop-1 .preferences {
  margin-bottom: 27.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Spice';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .vector-27 {
  width: 35.2px;
  height: 35.2px;
}
.desktop-1 .fluentdark-theme-20-regular {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .theme {
  margin: 0.1px 0 3.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .container-14 {
  margin: 0 159.5px 50.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 179.7px;
  box-sizing: border-box;
}
.desktop-1 .vector-13 {
  width: 33px;
  height: 40.3px;
}
.desktop-1 .icoutline-security {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .payments {
  margin: 3.7px 0 4.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-1 .container {
  margin-right: 113.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 229.9px;
  box-sizing: border-box;
}
.desktop-1 .container-1 {
  border-radius: 59px;
  background: #050404;
  position: relative;
  margin: 0 478px 57px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49.5px 48px 44.8px 48px;
  width: 482px;
  box-sizing: border-box;
}
.desktop-1 .transactions-1 {
  margin-right: 8.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .line-9 {
  background: #848484;
  margin: 5px 7.5px 5px 0;
  width: 12px;
  height: 0px;
}
.desktop-1 .upcoming-bills {
  margin: 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-1 .title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .view-all {
  margin: 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  text-decoration-line: underline;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-1 .top-bar {
  margin: 0 0.7px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
  box-sizing: border-box;
}
.desktop-1 .image-4 {
  background: url('../assets/images/image_4.png');
  width: 16px;
  height: 23px;
}
.desktop-1 .picture {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  display: flex;
  padding: 10px 13px 9px 13px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .netflix-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .july-052024-at-2146 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-1 .name-and-date {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-8 {
  margin: 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #D70000;
}
.desktop-1 .text-contents {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 311px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .netflix {
  border-bottom: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.4px 11px 0;
  width: 420px;
  box-sizing: border-box;
}
.desktop-1 .image-5 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  width: 28px;
  height: 28px;
}
.desktop-1 .picture-1 {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  display: flex;
  padding: 7px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .spotify-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .june-142024-at-0810 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-1 .name-and-date-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-9 {
  margin: 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #00B046;
}
.desktop-1 .text-contents-1 {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .spotify {
  border-bottom: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.7px 11px 0;
  width: 420px;
  box-sizing: border-box;
}
.desktop-1 .image-6 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  width: 18px;
  height: 27px;
}
.desktop-1 .picture-2 {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  display: flex;
  padding: 8px 12px 7px 12px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .figma-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .may-202024-at-1924 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-1 .name-and-date-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-10 {
  margin: 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #D70000;
}
.desktop-1 .text-contents-2 {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 315px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .figma {
  border-bottom: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.6px 11px 0;
  width: 420px;
  box-sizing: border-box;
}
.desktop-1 .image-7 {
  background: url('../assets/images/image_7.png') 50% / cover no-repeat;
  width: 24px;
  height: 27px;
}
.desktop-1 .picture-3 {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  display: flex;
  padding: 7px 9px 8px 9px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .shopify-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .may-072024-at-0658 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-1 .name-and-date-3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-11 {
  margin: 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #00B046;
}
.desktop-1 .text-contents-3 {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .shopify {
  margin-right: 0.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
  box-sizing: border-box;
}
.desktop-1 .transactions {
  border-radius: 12px;
  border: 1px solid #1E1E1E;
  background: #000000;
  margin: 0 3px 38px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 17px 42px 17px;
  width: 456px;
  box-sizing: border-box;
}
.desktop-1 .money-send {
  width: 26px;
  height: 26px;
}
.desktop-1 .vuesaxbulkmoney-send {
  display: flex;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
}
.desktop-1 .group-16489 {
  border-radius: 22px;
  background: #FFEBEA;
  position: relative;
  display: flex;
  padding: 9px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .vector-5 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-4 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-6 {
  width: 2px;
  height: 2px;
}
.desktop-1 .more-vertical {
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319353 {
  margin: 0 10px 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 218px;
  box-sizing: border-box;
}
.desktop-1 .total-expenses {
  opacity: 0.5;
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.desktop-1 .container {
  margin-right: 3.8px;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.desktop-1 .frame-427319351 {
  margin-right: 22.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 12px;
  color: #F83C3F;
}
.desktop-1 .frame-15123 {
  border-radius: 1234.7px;
  background: #FFEEEE;
  margin-top: 17px;
  display: flex;
  padding: 8.5px 12.3px 8.5px 12px;
  box-sizing: border-box;
}
.desktop-1 .frame-427319352 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319354 {
  border: 1px solid #000000;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .group-16493 {
  border-radius: 14px;
  border: 1px solid #1E1E1E;
  background: #000000;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  padding: 19px 18px 26px 18px;
  box-sizing: border-box;
}
.desktop-1 .card-receive {
  width: 26px;
  height: 26px;
}
.desktop-1 .vuesaxbulkcard-receive {
  display: flex;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
}
.desktop-1 .group-16488 {
  border-radius: 22px;
  background: #DDFFE7;
  position: relative;
  display: flex;
  padding: 9px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .vector-11 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-10 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-12 {
  width: 2px;
  height: 2px;
}
.desktop-1 .more-vertical-1 {
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319355 {
  margin: 0 6px 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 218px;
  box-sizing: border-box;
}
.desktop-1 .total-savings {
  opacity: 0.5;
  margin: 0 4.6px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.desktop-1 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.desktop-1 .frame-4273193511 {
  margin-right: 22.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-3 {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 12px;
  color: #00AE4E;
}
.desktop-1 .frame-151231 {
  border-radius: 1234.7px;
  background: #E5FFF1;
  margin-top: 17px;
  display: flex;
  padding: 8.5px 12.3px 8.5px 12px;
  box-sizing: border-box;
}
.desktop-1 .frame-427319356 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319357 {
  border: 1px solid #000000;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 4px;
  box-sizing: border-box;
}
.desktop-1 .group-16492 {
  border-radius: 14px;
  border: 1px solid #25282C;
  background: #000000;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  padding: 19px 18px 26px 18px;
  box-sizing: border-box;
}
.desktop-1 .money-recive {
  width: 26px;
  height: 26px;
}
.desktop-1 .vuesaxbulkmoney-recive {
  display: flex;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
}
.desktop-1 .group-16487 {
  border-radius: 22px;
  background: #FFDFF6;
  position: relative;
  display: flex;
  padding: 9px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .vector-22 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-21 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-23 {
  width: 2px;
  height: 2px;
}
.desktop-1 .more-vertical-2 {
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319358 {
  margin: 0 7px 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 218px;
  box-sizing: border-box;
}
.desktop-1 .total-income {
  opacity: 0.5;
  margin: 0 12.3px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.desktop-1 .container-4 {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.desktop-1 .frame-4273193512 {
  margin-right: 23.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-5 {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 12px;
  color: #F83C3F;
}
.desktop-1 .frame-151232 {
  border-radius: 1234.7px;
  background: #FFEEEE;
  margin-top: 17px;
  display: flex;
  padding: 8.5px 12.3px 8.5px 12px;
  box-sizing: border-box;
}
.desktop-1 .frame-427319359 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319360 {
  border: 1px solid #000000;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 3px;
  box-sizing: border-box;
}
.desktop-1 .group-16491 {
  border-radius: 14px;
  border: 1px solid #1E1E1E;
  background: #000000;
  position: relative;
  margin: 0 1px;
  display: flex;
  padding: 19px 18px 26px 18px;
  box-sizing: border-box;
}
.desktop-1 .container-25 {
  margin-top: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.desktop-1 .container-26 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-17 {
  margin: 0 0.2px 39.7px 0.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 24px;
  color: #696969;
}
.desktop-1 .vector-39 {
  width: 32.1px;
  height: 20.5px;
}
.desktop-1 .makimountain-15 {
  margin: 0 2.6px 4.7px 2.6px;
  display: flex;
  align-self: flex-start;
  width: 37.1px;
  height: 27.9px;
  box-sizing: border-box;
}
.desktop-1 .holidays {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary, #404040);
}
.desktop-1 .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-21 {
  position: absolute;
  left: 26px;
  top: 33.4px;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 14px;
  color: #AEAEAE;
}
.desktop-1 .container-21 {
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  background: #FFFFFF;
  position: relative;
  margin: 0 37px 2px 0;
  display: flex;
  padding: 10.5px 0 8.5px 1.7px;
  width: 151px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .vector-48 {
  width: 22.4px;
  height: 18.9px;
}
.desktop-1 .makimountain-151 {
  margin: 0 71.6px 8.5px 0;
  display: flex;
  width: 33.2px;
  height: 28px;
  box-sizing: border-box;
}
.desktop-1 .renovation {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary, #404040);
}
.desktop-1 .group-122 {
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  background: #FFFFFF;
  position: relative;
  margin: 1px 30px 1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79.8px 11.8px 5.8px 12.3px;
  box-sizing: border-box;
}
.desktop-1 .vector {
  width: 28.3px;
  height: 17.8px;
}
.desktop-1 .makimountain-152 {
  margin: 0 20.4px 6.6px 0;
  display: flex;
  width: 32.9px;
  height: 28.2px;
  box-sizing: border-box;
}
.desktop-1 .xbox {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary, #404040);
}
.desktop-1 .group-123 {
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  background: #FFFFFF;
  position: relative;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 81.5px 0 8px 0;
  width: 148.3px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-22 {
  margin-bottom: 65.5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-98 {
  width: 17.7px;
  height: 12.7px;
}
.desktop-1 .group-124 {
  display: flex;
  width: 17.7px;
  height: 12.7px;
  box-sizing: border-box;
}
.desktop-1 .container-2 {
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  background: #FFEADA;
  position: relative;
  margin: 5.4px 16.1px 0 0;
  display: flex;
  padding: 11px 15.1px 11px 11.8px;
  width: 44.6px;
  height: 34.6px;
  box-sizing: border-box;
}
.desktop-1 .rectangle-60 {
  border-radius: 10.8px;
  background: linear-gradient(270deg, #FCAE73 0%, #F79042 99.2%);
  width: 207px;
  height: 7.6px;
}
.desktop-1 .container-10 {
  border-radius: 13.6px;
  background: #F1F1F1;
  position: relative;
  margin-bottom: 6.3px;
  padding-top: 0.2px;
  width: 389.6px;
  height: 7.8px;
  box-sizing: border-box;
}
.desktop-1 .shoppping {
  margin: 0 2.5px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .group-130 {
  margin: 8.8px 16.2px 0.1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-18 {
  margin: 0 0px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-1 .group-127 {
  margin: 0 3.6px 13.2px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-12 {
  position: relative;
  margin: 5.4px 16.1px 0px 0;
  width: 44.6px;
  height: 34.6px;
}
.desktop-1 .rectangle-62 {
  border-radius: 10.8px;
  background: linear-gradient(90deg, #209D43, #2BC255);
  width: 65.8px;
  height: 7.6px;
}
.desktop-1 .container-15 {
  border-radius: 13.6px;
  background: #F1F1F1;
  position: relative;
  margin-bottom: 6.4px;
  padding-top: 0.2px;
  width: 389.6px;
  height: 7.8px;
  box-sizing: border-box;
}
.desktop-1 .electronics {
  margin: 0 2.5px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .group-131 {
  margin: 8.8px 16.2px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-19 {
  margin: 0 0px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-1 .group-126 {
  margin: 0 3.6px 13px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .vector-47 {
  width: 21.2px;
  height: 16px;
}
.desktop-1 .jamplane {
  display: flex;
  width: 25.4px;
  height: 19.1px;
  box-sizing: border-box;
}
.desktop-1 .container-27 {
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  background: #E4F0FF;
  position: relative;
  margin: 5.6px 16.1px 0.1px 0;
  display: flex;
  padding: 10.4px 12px 8.3px 11.5px;
  width: 44.6px;
  height: 34.6px;
  box-sizing: border-box;
}
.desktop-1 .rectangle-63 {
  border-radius: 13.6px;
  background: #F1F1F1;
  margin-bottom: 6.7px;
  width: 389.6px;
  height: 7.6px;
}
.desktop-1 .travels {
  margin: 0 2.5px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .container-16 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .rectangle-64 {
  border-radius: 10.8px;
  background: #70A6E8;
  position: absolute;
  left: 0px;
  top: 0.2px;
  width: 298px;
  height: 7.6px;
}
.desktop-1 .group-132 {
  position: relative;
  margin: 9.1px 16.2px 0 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .container-20 {
  margin: 0 0px 11.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-1 .group-125 {
  margin-right: 3.6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-121 {
  position: absolute;
  left: 386px;
  top: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .statistics {
  margin: 5px 15px 5px 0;
  display: inline-block;
  width: 113px;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 24px;
  color: #F7FFFF;
}
.desktop-1 .ellipse-41 {
  border-radius: 6px;
  background: #0D0D0D;
  margin: 2px 8px 2px 0;
  width: 12px;
  height: 12px;
}
.desktop-1 .net-inflow {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 13px;
  color: #F7FFFF;
}
.desktop-1 .container-14 {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .ellipse-4 {
  border-radius: 6px;
  background: #0D0D0D;
  margin: 2px 8px 2px 0;
  width: 12px;
  height: 12px;
}
.desktop-1 .net-ouflow {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 13px;
  color: #F7FFFF;
}
.desktop-1 .container-13 {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .hint {
  border-radius: 5px;
  margin: 12px 32.4px 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 217.8px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .week {
  margin-right: 8px;
  width: 34px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #F7FFFF;
}
.desktop-1 .vector-34 {
  width: 15.7px;
  height: 9.4px;
}
.desktop-1 .dropdown {
  margin: 3.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.desktop-1 .sort {
  box-shadow: var(--shadow, 0px 20px 50px 0px rgba(191, 21, 108, 0.05));
  border-radius: 40px;
  border: 1px solid #A6ACBE;
  background: #0D0D0D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0;
  width: 139.8px;
  box-sizing: border-box;
}
.desktop-1 .container-6 {
  display: flex;
  flex-direction: row;
  width: 373.5px;
  box-sizing: border-box;
}
.desktop-1 .container-24 {
  margin: 0 0 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 666px;
  box-sizing: border-box;
}
.desktop-1 .k {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .k-1 {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .k-2 {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .k-3 {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .k-4 {
  margin: 0 10.8px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .container-12 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .yinfo {
  margin: 18px 14.3px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .union {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 93.9px;
  height: 74.8px;
}
.desktop-1 .income {
  position: relative;
  margin: 0 2.5px 10.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .container-15 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-1 .details {
  position: relative;
  margin: 0 0 11.2px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 12.9px 20.5px 15.5px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-43815 {
  width: 594.2px;
  height: 148px;
}
.desktop-1 .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 594.2px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .ellipse-79 {
  position: absolute;
  top: 81px;
  right: 276.6px;
  width: 8px;
  height: 8px;
}
.desktop-1 .container-7 {
  position: relative;
  margin-bottom: 62px;
  display: flex;
  width: 594.2px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-17 {
  margin: 0 16px 18px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .mon {
  margin: 0 11px 1px 0;
  display: inline-block;
  width: 37.9px;
  overflow-wrap: break-word;
  font-family: var(--text-text-1-regular-font-family, 'Inter');
  font-weight: var(--text-text-1-regular-font-weight, 400);
  font-size: var(--text-text-1-regular-font-size, 18px);
  color: #F7F7F7;
}
.desktop-1 .tue {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--text-text-1-regular-font-family, 'Inter');
  font-weight: var(--text-text-1-regular-font-weight, 400);
  font-size: var(--text-text-1-regular-font-size, 18px);
  color: #F7F7F7;
}
.desktop-1 .wed {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .thu {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7FFFF;
}
.desktop-1 .fri {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .sat {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .sun {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-1 .xinfo {
  margin: 0 13.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 595.2px;
  box-sizing: border-box;
}
.desktop-1 .weekly-view {
  border-radius: 20px;
  border: 1px solid #2C2C2C;
  background: #0D0D0D;
  position: absolute;
  right: 303px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 26px 31px 35px 31px;
  box-sizing: border-box;
}
.desktop-1 .container-3 {
  position: relative;
  margin: 0 24px 10px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .empty-wallet-tick {
  width: 26px;
  height: 26px;
}
.desktop-1 .vuesaxbulkempty-wallet-tick {
  display: flex;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
}
.desktop-1 .group-16486 {
  border-radius: 22px;
  background: #FFF2E5;
  position: relative;
  display: flex;
  padding: 9px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-1 .vector-31 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-30 {
  margin-bottom: 5px;
  width: 2px;
  height: 2px;
}
.desktop-1 .vector-32 {
  width: 2px;
  height: 2px;
}
.desktop-1 .more-vertical-3 {
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319361 {
  margin: 0 6px 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 218px;
  box-sizing: border-box;
}
.desktop-1 .total-balance {
  opacity: 0.5;
  margin: 0 2.7px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.desktop-1 .container-6 {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.desktop-1 .frame-4273193513 {
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-7 {
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 12px;
  color: #00AE4E;
}
.desktop-1 .frame-151233 {
  border-radius: 1234.7px;
  background: #E5FFF1;
  margin-top: 17px;
  display: flex;
  padding: 8.5px 12.3px 8.5px 12px;
  box-sizing: border-box;
}
.desktop-1 .frame-427319362 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-427319363 {
  border: 1px solid #000000;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 4px;
  box-sizing: border-box;
}
.desktop-1 .group-16490 {
  border-radius: 14px;
  border: 1px solid #25282C;
  background: #000000;
  position: relative;
  margin: 0 24px;
  display: flex;
  padding: 19px 18px 26px 18px;
  box-sizing: border-box;
}
.desktop-1 .container-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1443px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .stock-cake-digital-finance-hub-17182170571 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  border: 1px solid #000000;
  background: url('../assets/images/stock_cake_digital_finance_hub_17182170571.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -0.9px;
  top: -2.3px;
  width: 1439.3px;
  height: 377px;
}
.desktop-1 .home {
  margin-right: 16px;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-1 .product {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-1 .container-28 {
  margin: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 183px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .banking {
  margin: 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-1 .container-16 {
  border-radius: 400px;
  background: url('../assets/images/image.jpeg') 50% / cover no-repeat;
  margin-right: 12px;
  width: 44px;
  height: 44px;
}
.desktop-1 .user {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.desktop-1 .sampleusergmail-com {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.2px;
  color: #BABEC8;
}
.desktop-1 .container-23 {
  margin: 3px 0 4px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .frame-17 {
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  width: 253px;
  box-sizing: border-box;
}
.desktop-1 .frame-19 {
  position: absolute;
  top: 101.5px;
  right: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 678px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #000000;
  display: flex;
  padding-bottom: 20px;
  width: 1440px;
  box-sizing: border-box;
}
