<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desktop - 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Color:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/finertia/css/payments_css.css" />
  </head>
  <body>
    <div class="desktop-1">
      <div class="container-19">
        <div class="container-20">
          <div class="finertia-transparent-1">
          </div>
        </div>
        <div class="container-22">
          <div class="container-14">
            <div class="container-11">
              <div class="manage">
              MANAGE
              </div>
              <div class="container-7">
                <img class="vector-6" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_28_x2.svg" />
                <div class="dashboard">
                Dashboard
                </div>
              </div>
              <div class="container-6">
                <div class="simple-iconsplausibleanalytics">
                  <img class="vector-5" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_16_x2.svg" />
                </div>
                <div class="analytics">
                Analytics
                </div>
              </div>
              <div class="container-21">
                <div class="mingcuteperformance-fill">
                  <img class="vector-4" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_12_x2.svg" />
                </div>
                <div class="insights">
                Insights
                </div>
              </div>
              <div class="container">
                <div class="mingcutenotification-fill">
                  <img class="vector-3" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_24_x2.svg" />
                </div>
                <div class="notification">
                Notification
                </div>
              </div>
              <div class="container-16">
                <div class="cisettings-filled">
                  <img class="vector-2" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_6_x2.svg" />
                </div>
                <div class="settings">
                Settings
                </div>
              </div>
              <div class="preferences">
              PREFERENCES
              </div>
              <div class="container-23">
                <div class="fluentdark-theme-20-regular">
                  <img class="vector-1" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_37_x2.svg" />
                </div>
                <div class="theme">
                Theme
                </div>
              </div>
              <div class="container-9">
                <div class="icoutline-security">
                  <img class="vector" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_13_x2.svg" />
                </div>
                <div class="payments">
                Payments
                </div>
              </div>
            </div>
            <div class="frame-44221">
              <div class="recent-transactions">
              Recent Transactions
              </div>
              <div class="container-3">
                <div class="frame-44205">
                  <div class="frame-44200">
                    <div class="group-43798">
                      <div class="frame">
                        <img class="vector-7" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_25_x2.svg" />
                      </div>
                    </div>
                    <div class="frame-44195">
                      <div class="peace-josh">
                      Peace Josh
                      </div>
                      <span class="july-20211125-pm">
                      24 July 2021, 11:25pm
                      </span>
                    </div>
                  </div>
                  <div class="frame-44201">
                    <div class="group-43793">
                      <div class="frame-1">
                        <img class="vector-8" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_7_x2.svg" />
                      </div>
                    </div>
                    <div class="frame-44196">
                      <div class="samantha-p">
                      Samantha P.
                      </div>
                      <span class="july-20211125-pm-1">
                      24 July 2021, 11:25pm
                      </span>
                    </div>
                  </div>
                  <div class="frame-44202">
                    <div class="group-43800">
                      <div class="frame-2">
                        <img class="vector-9" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_22_x2.svg" />
                      </div>
                    </div>
                    <div class="frame-44197">
                      <div class="joshua-ade">
                      Joshua Ade
                      </div>
                      <span class="july-20211125-pm-2">
                      24 July 2021, 11:25pm
                      </span>
                    </div>
                  </div>
                  <div class="frame-44203">
                    <div class="group-437981">
                      <div class="frame-3">
                        <img class="vector-10" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_46_x2.svg" />
                      </div>
                    </div>
                    <div class="frame-44198">
                      <div class="netflix-subscription">
                      Netflix Subscription
                      </div>
                      <span class="july-20211125-pm-3">
                      24 July 2021, 11:25pm
                      </span>
                    </div>
                  </div>
                  <div class="frame-44204">
                    <div class="group-437982">
                      <div class="frame-4">
                        <img class="vector-11" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_21_x2.svg" />
                      </div>
                    </div>
                    <div class="frame-44199">
                      <div class="mobile-top-up">
                      Mobile Top-up
                      </div>
                      <span class="july-20211125-pm-4">
                      24 July 2021, 11:25pm
                      </span>
                    </div>
                  </div>
                </div>
                <div class="container-4">
                  <div class="allowance">
                  Allowance
                  </div>
                  <div class="shopping">
                  Shopping
                  </div>
                  <div class="urgent-2-k">
                  Urgent 2k
                  </div>
                  <div class="netflix">
                  Netflix
                  </div>
                  <span class="airtime">
                  Airtime
                  </span>
                </div>
                <div class="container-10">
                  <div class="container-1">
                  -$3000
                  </div>
                  <div class="container-2">
                  +$5000
                  </div>
                  <div class="container-3">
                  +$10000
                  </div>
                  <div class="container-4">
                  -$8000
                  </div>
                  <span class="container-5">
                  -$1000
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="wallet">
            <div class="container-17">
              <div class="title">
                <span class="wallet-1">
                Wallet
                </span>
                <div class="cards-1-out-of-4">
                Cards | 1 out of 4
                </div>
              </div>
              <div class="indicator">
                <div class="left">
                  <img class="vector-12" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_x2.svg" />
                </div>
                <div class="right">
                  <img class="vector-13" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_45_x2.svg" />
                </div>
              </div>
            </div>
            <div class="container-2">
              <div class="left-content">
                <div class="card">
                </div>
                <div class="card-1">
                  <div class="rectangle-19">
                  </div>
                  <div class="rectangle-18">
                  </div>
                  <div class="container-15">
                    <div class="image-2">
                    </div>
                    <img class="group-1" src="../static/finertia/assets/analtics_insights_payments/vectors/group_1_x2.svg" />
                    <div class="card-number">
                    Card Number
                    </div>
                    <span class="container-6">
                    5783 4160 8526 3149
                    </span>
                  </div>
                </div>
              </div>
              <div class="line-3">
              </div>
              <div class="wallet-details">
                <div class="balance-and-currency">
                  <div class="balance">
                    <div class="balance-1">
                    Balance
                    </div>
                    <span class="container-7">
                    $14,528,00
                    </span>
                  </div>
                  <div class="currency">
                    <div class="currency-1">
                    Currency
                    </div>
                    <span class="us-dollar">
                    US Dollar
                    </span>
                  </div>
                </div>
                <div class="deactivate-card">
                  <div class="deactivate-card-1">
                  Deactivate card
                  </div>
                  <div class="toogle-indicator">
                    <div class="ellipse-6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="transactions">
            <div class="top-bar">
              <div class="title-1">
                <span class="transactions-1">
                Transactions
                </span>
                <div class="line-9">
                </div>
                <div class="upcoming-bills">
                Upcoming Bills
                </div>
              </div>
              <div class="view-all">
              View all
              </div>
            </div>
            <div class="netflix-1">
              <div class="picture">
                <div class="image-4">
                </div>
              </div>
              <div class="text-contents">
                <div class="name-and-date">
                  <div class="netflix-2">
                  Netflix
                  </div>
                  <span class="july-052024-at-2146">
                  July 05 2024 at 21:46
                  </span>
                </div>
                <div class="container-8">
                -$15.49
                </div>
              </div>
            </div>
            <div class="spotify">
              <div class="picture-1">
                <div class="image-5">
                </div>
              </div>
              <div class="text-contents-1">
                <div class="name-and-date-1">
                  <div class="spotify-1">
                  Spotify
                  </div>
                  <span class="june-142024-at-0810">
                  June 14, 2024 at 08:10
                  </span>
                </div>
                <div class="container-9">
                +$135.49
                </div>
              </div>
            </div>
            <div class="figma">
              <div class="picture-2">
                <div class="image-6">
                </div>
              </div>
              <div class="text-contents-2">
                <div class="name-and-date-2">
                  <div class="figma-1">
                  Figma
                  </div>
                  <span class="may-202024-at-1924">
                  May 20, 2024 at 19:24
                  </span>
                </div>
                <div class="container-10">
                -$75.00
                </div>
              </div>
            </div>
            <div class="shopify">
              <div class="picture-3">
                <div class="image-7">
                </div>
              </div>
              <div class="text-contents-3">
                <div class="name-and-date-3">
                  <div class="shopify-1">
                  Shopify
                  </div>
                  <span class="may-072024-at-0658">
                  May 07, 2024 at 06:58
                  </span>
                </div>
                <div class="container-11">
                +$934.29
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="stock-cake-digital-finance-hub-17182170571">
      </div>
      <div class="frame-19">
        <div class="container-18">
          <span class="home">
          Home
          </span>
          <span class="product">
          Product
          </span>
        </div>
        <div class="banking">
        Banking
        </div>
        <div class="frame-17">
          <div class="container">
          </div>
          <div class="container-13">
            <div class="user">
            User
            </div>
            <span class="sampleusergmail-com">
            sampleuser@gmail.com
            </span>
          </div>
        </div>
      </div>
      <div class="quick-transfer">
        <div class="container-5">
          <div class="top-bar-1">
            <div class="title-2">
              <span class="quick-transfer-1">
              Quick Transfer
              </span>
              <div class="line-91">
              </div>
              <div class="mobile-top-up-1">
              Mobile top-up
              </div>
            </div>
            <div class="see-all">
            See all
            </div>
          </div>
          <div class="card-or-phone">
            <div class="phcredit-card-thin">
              <img class="vector-17" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_36_x2.svg" />
            </div>
            <span class="card-or-phone-1">
            Card or phone
            </span>
          </div>
          <div class="card-or-phone-2">
            <div class="container-12">
              <img class="iconsax-lineardollarcircle" src="../static/finertia/assets/analtics_insights_payments/vectors/iconsax_lineardollarcircle_x2.svg" />
              <div class="preferred-amount">
              Preferred amount
              </div>
            </div>
            <span class="usd-1">
            USD
            </span>
          </div>
          <div class="frame-6">
            <div class="percentage">
              <div class="ellipse-11">
              </div>
              <div class="carbonpercentage-filled">
                <img class="vector-20" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_14_x2.svg" />
              </div>
            </div>
            <div class="fill-sm-btn">
              <span class="get-started">
              Get Started
              </span>
              <div class="solararrow-right-linear">
                <img class="vector-21" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_33_x2.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="visa">
            <div class="container-1">
              <div class="card-2">
                <div class="image-21">
                </div>
              </div>
              <div class="detail">
                <div class="debit-card">
                3149 Debit card
                </div>
                <span class="usd">
                2895.15 USD
                </span>
              </div>
            </div>
            <div class="group-2">
              <img class="vector-14" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_38_x2.svg" />
            </div>
          </div>
          <div class="debit">
            <div class="container-8">
              <div class="card-3">
                <div class="image-3">
                </div>
              </div>
              <div class="frame-4">
                <div class="debit-card-1">
                Debit card
                </div>
                <span class="europian">
                EUROPIAN
                </span>
              </div>
            </div>
            <div class="group-21">
              <img class="vector-15" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_43_x2.svg" />
            </div>
            <img class="vector-16" src="../static/finertia/assets/analtics_insights_payments/vectors/vector_32_x2.svg" />
          </div>
        </div>
        <div class="frame-5">
          <div class="create-anew-deposit">
          Create a new deposit!
          </div>
          <span class="choose-aflexible-deposit-for-your-savings-suited-to-your-needs-in-invest-bank">
          Choose a flexible deposit for your savings suited to your<br />
          needs in InvestBank,
          </span>
        </div>
      </div>
    </div>
  </body>
</html>